.padding-div{
    margin-left: 1px;
    margin-right: 1px;
}

#header-div{
    -webkit-box-shadow: 0px 0px 4px 0px #6bc282; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 4px 0px #6bc282; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    background-color: #0024f0;
    background-image: -webkit-linear-gradient(top, #0024f0, #030838); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom, #0024f0, #030838);   
}

#header-div h1{
    font-size: 2.8em;
    margin-left: 5%;
    color: #ffffff;
}
#div-two{
    -webkit-box-shadow: 0px 0px 4px 0px #1b265c; /* Android 2.3+, iOS 4.0.2-4.2, Safari 3-4 */
    box-shadow: 0px 0px 4px 0px #1b265c; /* Chrome 6+, Firefox 4+, IE 9+, iOS 5+, Opera 10.50+ */
    background-color: #f7f7f7;
    background-image: -webkit-linear-gradient(top, #f7f7f7, #c4e6dd); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom, #f7f7f7, #c4e6dd); /* Chrome 26, Firefox 16+, IE 10+, Opera */
    margin-bottom: 2px;
}

#div-two *{
    font-size: 1.05em;
}
#purchas-table table thead tr th:nth-child(2){
    text-align: center;
    background-color: red;
}

#div-two div:first-child{
    margin-top: 0.5%;
}
#div-two div:nth-child(2){
    margin-top: 0.5%;
}

#div-4{
    background-color: white;
}

#div-last{
    background-color: white;
}

#purchas-table{
    margin-top: 1%;
    margin-bottom: 1%;

}
#div-3{
    background-color: #d2caeb;
    background-image: -webkit-linear-gradient(top, #d2caeb, #a8a8a8); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom, #d2caeb, #a8a8a8); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}
#div-4{
    padding-top: 1%;
    background-color: #bdffe7;
    background-image: -webkit-linear-gradient(top, #bdffe7, #a8a8a8); /* Chrome 10-25, iOS 5+, Safari 5.1+ */
    background-image:         linear-gradient(to bottom, #bdffe7, #a8a8a8); /* Chrome 26, Firefox 16+, IE 10+, Opera */
}
#div-4 *{
    font-size: 1.05em;
}